body {
	background-color: #00ffff !important;
}

.container {
	max-width: 850px !important;
}

table {
	margin-top: 35px;
}

table td span.grass-type {
	background: linear-gradient(#78c850, #5ca935);
	border: 1px solid #4a892b;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

table td span.poison-type {
	background: linear-gradient(#a040a0, #803380);
	border: 1px solid #662966;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

table td span.fire-type {
	background: linear-gradient(#f08030, #dd6610);
	border: 1px solid #b4530d;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
}

table td span.water-type {
	background: linear-gradient(#6890f0, #386ceb);
	border: 1px solid #1753e3;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

table td span.flying-type {
	background: linear-gradient(#a890f0, #9180c4);
	border: 1px solid #9180c4;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

table td span.bug-type {
	background: linear-gradient(#a8b820, #8d9a1b);
	border: 1px solid #616b13;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
}

table td span.normal-type {
	background: linear-gradient(#a8a878, #8a8a59);
	border: 1px solid #79794e;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

table td span.electric-type {
	background: linear-gradient(#f8d030, #f0c108);
	border: 1px solid #c19b07;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

table td span.fairy-type {
	background: linear-gradient(#f98cff, #f540ff);
	border: 1px solid #c1079b;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 3px;
}

table td span.ground-type {
	background: linear-gradient(#f8d030, #f0c108);
	border: 1px solid #c19b07;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

table td span.fighting-type {
	background: linear-gradient(#c03028, #9d2721);
	border: 1px solid #82211b;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

table td span.psychic-type {
	background: linear-gradient(#f85888, #f61c5d);
	border: 1px solid #d60945;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

table td span.rock-type {
	background: linear-gradient(#b8a038, #93802d);
	border: 1px solid #746523;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

table td span.steel-type {
	background: linear-gradient(#b8b8d0, #9797ba);
	border: 1px solid #7a7aa7;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

table td span.ice-type {
	background: linear-gradient(#98d8d8, #69c6c6);
	border: 1px solid #45b6b6;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 13px;
	padding-right: 13px;
	border-radius: 3px;
}

table td span.dragon-type {
	background: linear-gradient(#7038f8, #4c08ef);
	border: 1px solid #3d07c0;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

.id-col {
	width: 40%;
}

.name-col {
	width: 40%;
}

.type-col {
	width: 20%;
}

.page-item {
	padding-left: 1px;
	padding-right: 1px;
}

.page-item.active > .page-link {
	background-color: #fff;
	color: #000;
	font-weight: bold;
}

.page-item:not(.active) > .page-link {
	background-image: linear-gradient(hotpink, red);
	color: #fff;
	font-weight: bold;
	border-color: #dee2e6;
}

.page-item:not(.active) > .page-link:hover {
	background-image: linear-gradient(#e85fa4, #e80000);
}
